---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Link_A from "./ui/Link_A.astro";
import Code from "./icons/Code.astro";
import Skill_Object from "./ui/Skill_Object.astro";
---

<section
  id="hero"
  class="relative w-full mx-auto max-w-7xl sm:px-6 lg:px-8 md:h-[80vh] h-[90vh] flex items-center
   justify-center"
>
  <div class="w-full max-w-4xl mx-auto">
    <div
      class="bg-editor-bg/60 backdrop-blur-sm rounded-2xl border border-sidebar-bg/50
    overflow-hidden transition-all duration-300 hover:border-boolean/30 hover:shadow-lg
    hover:shadow--boolean/5 p-4 md:p-10"
    >
      <div class="mb-8">
        <div class="flex items-center gap-1 md:gap-4 mb-2">
          <Code class="h-2 w-2 md:h-3 md:w-3 text-object-global" />
          <span class="title text-[.9rem] font-mono text-variable"
            >console.<span class="text-function">log(</span><span
              class="text-[#CE9178] text-[.9rem]">"Hola Mundo! 👋"</span
            ><span class="text-function">)</span></span
          >
        </div>

        <h1
          class="subtitle text-3xl md:text-5xl lg:text-6xl font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-variable to-statusbar-bg h-20"
        >
          Hola, Soy George
        </h1>

        <div class="subtitle text-md font-medium  mb-6">
          <span class="inline-flex items-center gap-[2px]">
            <span class="text-boolean mr-1">const</span>
            <span class="text-variable">rol</span>
            <span class="text-text-default/50">=</span>
            <span class="text-[#CE9178] mr-1">'Desarrollador Frontend'</span>
          </span>
        </div>
        <Skill_Object />
      </div>
    </div>

    <div class="flex flex-wrap items-center gap-2 mt-2">
      <Link_A
        classStyle="group links flex items-center gap-x-4 text-sm md:px-6 px-2.5 py-2.5 bg-sidebar-bg text-text-default font-semibold rounded-md hover:bg-sidebar-bg/80 hover:scale-105 transition-all duration-200"
        href="https://www.linkedin.com/in/georgecontreras241/"
        title="Mi LinkedIn"
        aria-label="Visitar Mi LinkedIn"
      >
        <LinkedIn
          class="md:w-4 md:h-4 w-4 h-4 transition-transform duration-200 group-hover:scale-120 transition-all"
        />
        <span class="md:flex hidden">Linkedin</span>
      </Link_A>
      <Link_A
        classStyle="group links flex items-center gap-x-4 text-sm md:px-6 px-2.5 py-2.5 bg-sidebar-bg text--default font-semibold rounded-md hover:cursor-pointer hover:bg-lor-sidebar-bg)]/80 hover:scale-105 transition-all duration-200"
        href="https://github.com/GeorgeContreras241"
        title="Git Hub"
        aria-label="Visitar Git Hub"
      >
        <GitHub
          class="md:w-4 md:h-4 w-4 h-4 transition-transform duration-200 group-hover:scale-120 transition-all"
        />
        <span class="md:flex hidden">Git Hub</span>
      </Link_A>
      <a
        class="links md:px-6 px-2.5 py-2.5 bg-variable text-xs md:text-[15px] text-editor-bg font-semibold rounded-md ml-auto hover:cursor-pointer hover:brightness-110
        hover:scale-105 transition-all duration-200"
        href="./CV.pdf"
        target="_blank"
        rel="noreferrer"
      >
        Descargar CV Aqui
      </a>
    </div>
  </div>
</section>
