---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<body>
    <main>
        <slot />
    </main>
    <Footer />
</body>

<style>
    @import "tailwindcss";
</style>
